{% extends "base_dashboard.html" %}
{% load static from staticfiles %}
{% load  index %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
    {% endblock %}
</head>
<body>

<div class="container">
    {% block container %}

        <div class="list-side">
            {% block list-side %}
                {{ block.super }}

            {% endblock %}
        </div>

        <div class="content-side">

            {% block content-side %}
                <section id="event-section" class="event-section">
                    <div class="container">

                        {% for item in events %}
                            <div class="card">
                                <img alt="card-view" style="width:100%" height="200" width="200"
                                     src={{ item.picture.url }}/>
                                <h1>{{ item.title }}</h1>
                                {#                    <p class="price">Free</p>#}

{#                                <p>{{ item.body }}</p>#}

                                <p>
                                    <a class="default" href="/edit-event?event={{ item.id }}"><i class="fas fa-edit"></i> </a>
                                    <a class="red" href="/remove-event?event={{ item.id }}"><i class="fas fa-trash"></i></a>
                                </p>
                            </div>
                        {% endfor %}
                    </div><!-- end container -->

                    {% if events.has_other_pages %}
                        <div class="pagination">
                            {% if events.has_previous %}
                                <a href="?page={{ events.previous_page_number }}#event-section">&laquo;</a>
                            {% endif %}

                            {% for i in events.paginator.page_range %}
                                {% if events.number == i %}
                                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                                {% else %}
                                    <a href="?page={{ i }}#event-section">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if events.has_next %}
                                <a href="?page={{ events.next_page_number }}#event-section">&raquo;</a>
                            {% endif %}
                        </div>

                    {% endif %}

                </section>
            {% endblock %}
        </div>

    {% endblock %}
    {{ block.super }}


</div>

</body>
</html>