{% extends "base_dashboard.html" %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
    {% endblock %}
</head>
<body>

<div class="container">
    {% block container %}

        <div class="list-side">
            {% block list-side %}
                {{ block.super }}

            {% endblock %}
        </div>

        <div class="content-side">

            {% block content-side %}
                {{ block.super }}
                <section id="event-section" class="event-section">
                    <div class="container">

                        {% for item in events %}
                            <div class="card">
                                <img alt="card-view" style="width:100%" height="250" width="250"
                                     src={{ item.picture.url }}/>
                                <h1>{{ item.title }}</h1>
                                {#                    <p class="price">Free</p>#}

                                <p>
                                    {{ item.body|safe|truncatewords:"30"|linebreaks }}
                                    <a href="events/event-info?event={{ item.id }}">read more</a>

                                    {% if user.is_authenticated %}
                                        {% if  status_list|index:forloop.counter0  == -1 %}
                                            <a href="join-event?event={{ item.id }}">Register now</a>
                                        {% elif status_list|index:forloop.counter0 %}
                                            <p class="pending">Pending</p>
                                        {% else %}
                                            <p class="joined">Already joined</p>
                                        {% endif %}
                                    {% else %}
                                        <a href="join-event?event={{ item.id }}">Register now</a>

                                    {% endif %}
                                {#                    <p>{{ item.category_title }}</p>#}

                                </p>
                            </div>
                        {% endfor %}
                    </div><!-- end container -->

                    {% if events.has_other_pages %}
                        <div class="pagination">
                            {% if events.has_previous %}
                                <a href="?page={{ events.previous_page_number }}#event-section">&laquo;</a>
                            {% endif %}

                            {% for i in events.paginator.page_range %}
                                {% if events.number == i %}
                                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                                {% else %}
                                    <a href="?page={{ i }}#event-section">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if events.has_next %}
                                <a href="?page={{ events.next_page_number }}#event-section">&raquo;</a>
                            {% endif %}
                        </div>

                    {% endif %}

                </section>
            {% endblock %}
        </div>

    {% endblock %}
    {{ block.super }}


</div>

</body>
</html>