{% extends "base_dashboard.html" %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>new event</title>

        <link rel="stylesheet" type="text/css" href={% static 'style/dashboard-new-event.css' %}/>
    {% endblock %}
</head>
<body>
{% block content %}
    <header>
        {% block header %}
            {{ block.super }}

        {% endblock %}
    </header>


    <div class="container">
        {% block container %}

            <div class="list-side">
                {% block list-side %}

                    <div class="menu-div">
                        <a class="menu-item" href="dashboard">Dashboard</a>
                        {% if user.is_superuser %}
                            <a class="menu-item" href="dashboard-new-event">New event</a>
                            {#<a class="menu-item" href="#">All users(only for admin)</a>#}
                            <a class="menu-item" href="dashboard-event-list">All events</a>
                            <a class="menu-item active" href="dashboard-requests">requests</a>
                        {% endif %}

                        {#                        <a class="menu-item" href="">My events</a>#}
                        <a class="menu-item" href="#">Settings</a>
                    </div>

                {% endblock %}
            </div>

            <div class="content-side">

                {% block content-side %}

                    {% for item in requests %}

                        <div class="request-div">
                            <div class="request-div-p">
                                <p>{{ item.user.username }}</p>
                                <p>{{ item.event.title }}</p>
                            </div>
                            <div class="request-div-button">
                                <button type="button">Accept</button>
                                <button type="button" style="background-color: #d9534f">Reject</button>
                            </div>
                        </div>

                    {% endfor %}
                {% endblock %}

            </div>

        {% endblock %}
    </div>



    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}


</body>
</html>