{% extends "base_dashboard.html" %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>new event</title>

        <link rel="stylesheet" type="text/css" href={% static 'style/dashboard-new-event.css' %}/>
    {% endblock %}
</head>
<body>
{% block content %}
    <header>
        {% block header %}
            {{ block.super }}

        {% endblock %}
    </header>





    <div class="container">
        {% block container %}

            <div class="list-side">
                {% block list-side %}
                    {{ block.super }}

                {% endblock %}
            </div>

            <div class="content-side">

                {% block content-side %}

                    <p style="color: red;">(This text will be removed)<br>
                        this is just a demo, so the other parts of this page will be completed for final phase of the
                        project :)
                    </p>


                    <form method="post" class="new-event-form" href="#">

                        <input type="text" name="title" placeholder="Title">
                        <input type="file" name="banner" placeholder="banner of event (only image)">
                        <input type="date" name="date" placeholder="date">
                        <input type="time" name="time" placeholder="time">

                        <input type="text" name="speakers" placeholder="speakers (separate with ',')">
                        <input type="file" name="resume" placeholder="your resume">


                        <button type="submit">Submit</button>

                    </form>

                {% endblock %}

            </div>

        {% endblock %}
    </div>



    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}


</body>
</html>