{% extends "base_dashboard.html" %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>new event</title>

        <link rel="stylesheet" type="text/css" href={% static 'style/dashboard-new-event.css' %}/>
    {% endblock %}
</head>
<body>
{% block content %}
    <header>
        {% block header %}
            {{ block.super }}

        {% endblock %}
    </header>





    <div class="container">
        {% block container %}

            <div class="list-side">
                {% block list-side %}
                    {{ block.super }}

                {% endblock %}
            </div>

            <div class="content-side">

                {% block content-side %}

                    <p>{{ result }}</p>

                    <form method="post" class="new-event-form" action="/create-event" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="text" name="title" placeholder="Title" required>
                        <input type="file" name="banner" placeholder="banner of event (only image)" required>
                        <input type="datetime-local" name="start_date" placeholder="date" required>
                        <textarea rows="4" cols="60" name="body" placeholder="description" required></textarea>

                        <button type="submit">Submit</button>

                    </form>

                {% endblock %}

            </div>

        {% endblock %}
    </div>



    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}


</body>
</html>