:root {
    --main-color: rgba(0, 150, 136, 1);
}

html {
    scroll-behavior: smooth;
}

/*body {*/
/*!*background-image: url("/static/img/neuron_bg.jpg");*!*/
/*background-color: white;*/
/*background-size: cover;*/
/*background-attachment: fixed;*/

/*margin: 0;*/
/*}*/

body {
    display: flex;
    flex-direction: column;
}


.nav {
    min-height: 48px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: #424242;

    display: flex;
    justify-content: center;
}

.nav .profile {
    color: white;
    float: left;
}

.nav a {
    color: white;
    text-decoration: none;

    margin: 1%;
}

a:hover {
    color: rgba(0, 150, 136, 1);
}


.active {
    /*background-color: #26C6DA;*/
    color: rgba(0, 150, 136, 1);
}

.nav .icon {
    display: none;
}


footer {
    background: rgba(33, 33, 33, 1);
    padding: 2%;
    display: flex;
    color: white;
    flex-direction: column;
    bottom: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    min-height: 600px;
}