body {
    margin: 0;
}

.content {
    padding: 5%;
}


.time, .authors {
    color: gray;
}

.content button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(0, 150, 136, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


img {
    width: 100%;
    max-height: 600px;
}