body {
    margin: 0;
}

.content {
    padding: 5%;
}


.time, .authors {
    color: gray;
}

.content button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(0, 150, 136, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


img {
    width: 100%;
    max-height: 600px;
}

.request {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(0, 150, 136, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

.request:hover {
    opacity: 0.7;
}

.pending {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(255, 160, 0, 1);
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.joined {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgba(117, 117, 117, 1);
    text-align: center;
    width: 100%;
    font-size: 18px;
}

input[type=text], input[type=time], input[type=datetime-local], input[type=file] {

    width: 100%;
    padding: 12px 20px;
    margin: 1%;
    box-sizing: border-box;
    border: none;
    background-color: rgba(245, 245, 245, 1);
    color: black;
}

textarea {

    width: 100%;
    padding: 12px 20px;
    margin: 1%;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 1);
    color: black;
}

.event-banner {
    width: 100%;

}

.form-container {
    width: calc(100% - 60px);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form {
    width: 100%;
}