{% extends "base_layout.html" %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <meta charset="UTF-8">
        <title>Dashboard</title>

        <link rel="stylesheet" type="text/css" href={% static 'style/dashboard.css' %}/>
    {% endblock %}
</head>
<body>
{% block content %}
    <header>
        {% block header %}
            {{ block.super }}

            <br>
            <br>

            <div class="profile-info">
                <img id="profile-img" src={% static 'img/profile-icon.png' %}/>

                <h4>Hi {{ user.first_name }}</h4>
                <a href="notifications"><i class="fas fa-bell"></i></a>
                <a href="logout-user"><i class="fas fa-sign-out-alt"></i></a>


            </div>

        {% endblock %}
    </header>





    <div class="container">
        {% block container %}
            <div class="list-side">
                {% block list-side %}
                    <div class="menu-div">
                        <a class="menu-item active" href="dashboard">Dashboard</a>
                        {% if user.is_superuser %}
                            <a class="menu-item" href="dashboard-new-event">New event</a>
                            {#<a class="menu-item" href="#">All users(only for admin)</a>#}
                            <a class="menu-item" href="dashboard-event-list">All events</a>
                            <a class="menu-item" href="dashboard-requests">requests</a>
                        {% endif %}

                        {#                        <a class="menu-item" href="">My events</a>#}
                        <a class="menu-item" href="#">Settings</a>
                    </div>

                {% endblock %}
            </div>

            <div class="content-side">

                {% block content-side %}
                    <div>
                        <h2>Pending requests</h2>

                        {% for item in requests %}

                            {% if user.is_superuser %}
                            {%  if item.pending %}
                                 <div class="request-div">
                            <div class="request-div-p">
                                <p>{{ item.user.username }}</p>
                                <a href="/events/event-info?event={{ item.event.id }}">{{ item.event.title }}</a>
                            </div>
                            <div class="request-div-button" id="request-btns">
                                {% if item.pending and not item.status %}
                                    <p id="request-status-{{ item.user.id }}-{{ item.event.id }}">Status</p>
                                    <button id="accept-btn-{{ item.user.id }}-{{ item.event.id }}" type="button"
                                            onclick="accept_request({{ item.user.id }}, {{ item.event.id }})">Accept
                                    </button>
                                    <button id="reject-btn-{{ item.user.id }}-{{ item.event.id }}" type="button"
                                            style="background-color: #d9534f"
                                            onclick="reject_request({{ item.user.id }}, {{ item.event.id }})">Reject
                                    </button>
                                {% else %}
                                    {% if item.status %}
                                        <p id="request-status-{{ item.user.id }}-{{ item.event.id }}">Accepted</p>
                                    {% elif not item.pending and not item.status %}
                                        <p id="request-status-{{ item.user.id }}-{{ item.event.id }}">Rejected</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                            {% endif %}
                            {% endif %}

                        {% endfor %}


                    </div>

                    {#                    {% for item in activities %}#}
                    {#                        <div class="item">#}
                    {#                            <p>{{ item. }}</p>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                {% endblock %}

            </div>

        {% endblock %}
    </div>



    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}


</body>
</html>