{% extends "base_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <meta charset="UTF-8">
        <title>Home</title>


        <link rel="stylesheet" href={% static 'style/main.css' %}>

    {% endblock %}
</head>
<body>

{% block content %}

    <header id="home">

        {% block header %}
            {{ block.super }}
        {% endblock %}

        <div class="info-div">
            <h3>Active events<br> {{ activeEventCount }}</h3>
            <h3>Total events<br> {{ totalEvents }}</h3>
            <h3>Total Users<br> {{ usersCount }}</h3>
        </div>


    </header>



    <section id="event-section" class="event-section">
        <div class="container">
            {% for item in events %}
                <div class="card">
                    <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                    <h1>{{ item.title }}</h1>
                    {#                    <p class="price">Free</p>#}
                    <p>{{ item.body }}</p>
                    <p>

                        {#                    <p>{{ item.category_title }}</p>#}
                        <button>Register now</button>
                    </p>
                </div>
            {% endfor %}
        </div><!-- end container -->



        {% if events.has_other_pages %}
            <div class="pagination">
                {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}">&laquo;</a>
                {% endif %}

                {% for i in users.paginator.page_range %}
                    {% if users.number == i %}
                        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}">&raquo;</a>
                {% endif %}
            </div>

        {% endif %}


    </section>

    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}

</body>

<script src={% static '/js/main.js' %}></script>
</html>