{% extends "base_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <meta charset="UTF-8">
        <title>Home</title>


        <link rel="stylesheet" href={% static 'style/main.css'%}>

    {% endblock %}
</head>
<body>

{% block content %}

<header id="home">

    {% block header %}
        {{ block.super }}
    {% endblock %}

    <div class="info-div">
        <h3>Active events<br> {{ activeEventCount }}</h3>
        <h3>Total events<br> {{ totalEvents }}</h3>
        <h3>Total Users<br> {{ usersCount }}</h3>
    </div>


</header>



    <section id="event-section" class="event-section">
        <div class="container">

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>

            <div class="card">
                <img alt="card-view" style="width:100%" src={% static 'img/event-default.png' %}/>
                <h1>event</h1>
                <p class="price">Free</p>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p>
                    <button>Register now</button>
                </p>
            </div>
        </div><!-- end container -->


        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>


    </section>

{% block footer %}
        {{ block.super }}
{% endblock %}

{% endblock %}

</body>

<script src={% static '/js/main.js' %}></script>
</html>