{% extends "base_layout.html" %}
{% load static from staticfiles %}
{% load index %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <meta charset="UTF-8">
        <title>Home</title>


        <link rel="stylesheet" href={% static 'style/main.css' %}>

    {% endblock %}
</head>
<body>

{% block content %}

    <header id="home">

        {% block header %}
            {{ block.super }}
        {% endblock %}

        <div class="info-div">
            <h3>Active events<br> {{ activeEventCount }}</h3>
            <h3>Total events<br> {{ totalEvents }}</h3>
            <h3>Total Users<br> {{ usersCount }}</h3>
        </div>


    </header>



    <section id="event-section" class="event-section">
        <div class="container">

            {% for item in events %}
                <div class="card">
                    <img alt="card-view" src={{ item.picture.url }}/>
                    <h1>{{ item.title }}</h1>
                    {#                    <p class="price">Free</p>#}
                    <div class="card-caption">
                        <p> {{ item.body|safe|truncatewords:"30"}} </p>
                    </div>
                    <div class="card-btn">
                        <a href="events/event-info?event={{ item.id }}">Read more</a>
                    </div>

                        {% if user.is_authenticated %}
                            {% if  status_list|index:forloop.counter0  == -1 %}
                                <div class="card-btn">
                                    <a href="join-event?event={{ item.id }}">Register now</a>
                                </div>
                            {% elif status_list|index:forloop.counter0 %}
                                <div class="card-btn" style="background-color: darkorange">
                                    <a >Pending</a>
                                </div>
                            {% else %}
                                <div class="card-btn">
                                    <p class="joined">Already joined</p>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="card-btn">
                                <a href="join-event?event={{ item.id }}">Register now</a>
                            </div>
                        {% endif %}
                    {#                    <p>{{ item.category_title }}</p>#}

                </div>
            {% endfor %}

        </div><!-- end container -->



        {% if events.has_other_pages %}
            <div class="pagination">
                {% if events.has_previous %}
                    <a href="?page={{ events.previous_page_number }}#event-section">&laquo;</a>
                {% endif %}

                {% for i in events.paginator.page_range %}
                    {% if events.number == i %}
                        <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                    {% else %}
                        <a href="?page={{ i }}#event-section">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if events.has_next %}
                    <a href="?page={{ events.next_page_number }}#event-section">&raquo;</a>
                {% endif %}
            </div>

        {% endif %}


    </section>

    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}

</body>

<script src={% static '/js/main.js' %}></script>
</html>