{% extends "base_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <meta charset="UTF-8">
        <title>event-id</title>

        <link rel="stylesheet" type="text/css" href={% static 'style/event_info.css' %}
    {% endblock %}
    </head>
<body>
{% block content %}
    <header>
        {% block header %}
            {{ block.super }}
        {% endblock %}
    </header>
    <br/>

    <img src="{{ event.picture }}" alt="banner" class="event-banner">

    <div class="content">

        <h2>{{ event.title }}</h2>

        <p class="time">Start at: {{ event.start_date }}</p>

        {#        <p class="authors">Authors: Me and you </p>#}

        <p>{{ event.body }}</p>

        <br/>

        {#        <label class="timer">00:01:59</label>#}


        {#        <div class="sponsor-div">#}
        {#            needs to complete#}
        {#        </div>#}

        {% if user.is_authenticated %}
            {% if status == -1 %}
                <a class="request" href="/join-event?event={{ event.id }}">Register now</a>
            {% elif status == 0 %}
                <p class="pending">Pending</p>
            {% else %}
                <p class="joined">Already joined</p>
            {% endif %}
        {% else %}
            <a class="request" href="/join-event?event={{ event.id }}">Register now</a>
        {% endif %}

    </div>







    {% block footer %}
        {{ block.super }}
    {% endblock %}

{% endblock %}


</body>
</html>